@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

.hero {
  font-family: 'Ubuntu', sans-serif;
  padding-bottom: 2rem;
  max-height: 600px;
}

.heroImg {
  width: 100%;
  height: 270px;
}

.heroImg2,
.heroImg3 {
  display: none;
}

.heroCard {
  border-radius: 0.3rem;
  background-color: white;
  padding: 2rem 1rem 1rem 1rem;
  margin: 1.4rem;
  box-shadow: 3px 15px 30px 0 rgb(0 0 0 / 15%);
  display: flex;
  flex-direction: column;
  gap: 4rem;
  position: relative;
  bottom: 6.2rem;
}

.heroCard-Content > h4 {
  padding: 0;
  margin-bottom: 1rem;
  font-weight: 400;
}

.heroCard-Content > p {
  padding: 0;
  padding-right: 0.8rem;
  margin: 0;
  font-weight: 300;
  margin-bottom: 1rem;
}

.heroCard-ButtonMain {
  display: flex;
  justify-content: center;
}

.heroCard-Button {
  border: 1px solid black;
  color: black;
  padding: 11px 24px;
  border-radius: calc((50 / 16) * 1rem);
}

.heroCard-Button:hover {
  text-decoration: none;
}

/* Media Query */
@media only screen and (min-width: 375px) {
  .heroCard {
    margin: 1.4rem;
  }
}

@media only screen and (min-width: 425px) {
  .heroCard-Content > p {
    padding-right: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    max-height: 530px;
  }

  .heroCard {
    gap: 0rem;
    margin: 1.4rem 2rem;
  }

  .heroImg {
    display: none;
  }

  .heroImg2 {
    width: 100%;
    height: 378px;
    display: inline;
  }

  .heroCard-Content > p {
    padding-right: 1.8rem;
    letter-spacing: 0.4px;
    line-height: 1.5rem;
  }

  .heroCard-Content {
    padding-left: 28px 16px;
  }

  .heroCard-ButtonMain {
    justify-content: flex-end;
  }
}

@media only screen and (min-width: 1024px) {
  .hero {
    max-height: 450px;
  }

  .heroImg2 {
    display: none;
  }

  .heroImg3 {
    width: 100%;
    height: 400px;
    display: inline;
  }

  .heroCard {
    bottom: 23rem;
    width: 776px;
    height: 295px;
    left: 1rem;
    justify-content: space-between;
    padding: 32px;
  }

  .heroCard-Content > p {
    padding-right: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .heroCard {
    width: 636px;
    left: 2.5rem;
  }
}
